lombok.copyableannotations += org.springframework.beans.factory.annotation.Qualifier
lombok.accessors.chain=false
config.stopBubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.extern.findbugs.addSuppressFBWarnings=false
lombok.nonnull.exceptiontype=IllegalArgumentException
lombok.noArgsConstructor.extraPrivate=false
#lombok.anyConstructor.addConstructorProperties = true
lombok.anyconstructor.suppressconstructorproperties=true
lombok.fieldDefaults.defaultPrivate=true
#lombok.fieldDefaults.defaultFinal=true
lombok.log.fieldName=log
