name: Syntax-checking

on:
  push:
    branches-ignore: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: jsonlint
        uses: docker://github/super-linter:v3@sha256:abc95f3cfe48931f11208ebddfccd9b7a3e4c8e7d5e7da98ff43b00d717dfae5
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_JSON: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
